.enlace.block {
    background-color: aquamarine;
    color: bisque;
    padding: 10px;
    display: block; 
 
}

/*enlace es una etiqueta en linea para transformar en block se usa display block*/


.titulo {
    display: inline;
    background-color: azure;
    color: darkblue;
}

.display-none{
    background-color: firebrick;
    padding: 10px;
    display: none;
}
/*hace que se borre */

.cajita {
    background-color: darkorange;
    width: 300px;
    height: 150px;

    position: relative;
    left: 300px;

    position: absolute;
z-index: -1;

/*icono chat*/


a {
    position: fixed;
    right:35px;
    bottom: 35px;

}

a img {
    position: sticky;
    top:5px ;
}

/*position sticky 5px a partir de ahi te sigue*/

/*_blank target no abre nueva ventana*/
/*lorem * */


}


.cajita p {
    padding-top: 20px;
    text-align: center;
   
}

/*position absol se superpone a otros*/